body {
  background-color: #5d0e41;
  color: white;
}

.comment-box {
  background-color: var(--navbar-bg);
  padding: 25px;
  border-radius: 5px;
}

.comment-box button {
  color: white;
  border-color: white;
}

.imdb-rating {
  background-color: #f5c518;
  color: black;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 3px;
  font-weight: bold;
}
.film-details {
  margin: 20px;
}
.film-details img {
  max-width: 100%;
  height: auto;
}
.film-info {
  margin-top: 20px;
}
